# ValidationResult

Represents the state of a validation.


**Value** |
`"VALID"` |
`"INVALID"` |


[[Back to Model list]](../../README.md#documentation-for-models) [[Back to API list]](../../README.md#documentation-for-api-endpoints) [[Back to README]](../../README.md)
