# ValidationResult

Represents the state of a validation.


| **Value** |
| --------- |
| `"VALID"` |
| `"INVALID"` |


[[Back to Model list]](../../../README.md#models-v1-link) [[Back to API list]](../../../README.md#apis-v1-link) [[Back to README]](../../../README.md)
