# ValidationResult

Represents the state of a validation.


| **Value** |
| --------- |
| `"('values', ['VALID', 'INVALID'])"` |


[[Back to Model list]](../../../README.md#models-v1-link) [[Back to API list]](../../../README.md#documentation-for-api-endpoints) [[Back to README]](../../../README.md)
