# ValidationResult

Represents the state of a validation.


| **Value** |
| --------- |
| `"('values', ['VALID', 'INVALID'])"` |


[[Back to Model list]](../../../README.md#models-v2-link) [[Back to API list]](../../../README.md#apis-v2-link) [[Back to README]](../../../README.md)
